Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/git-hooks/pre-commit
config.h
config.h.in
config.log
config.status
configure
/*.tar.bz2
doc/manual/version.tex
include/config.nsi
po/POTFILES
po/*.nsi
po/gpg4win.pot
po/remove-potcdate.sed
po/stamp-po
po/nsis-msgfmt
patches/gnupg2/01-version.patch
src/gpg4win.mk
src/mingwm10.dll
