Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/git-hooks/pre-commit
config.h
config.h.in
config.log
config.status
config.status.lineno
configure.lineno
configure
stamp-h1
/*.tar.bz2
/gpg4win-2.*
doc/manual/version.tex
src/config.nsi
po/POTFILES
po/*.nsi
po/gpg4win.pot
po/remove-potcdate.sed
po/stamp-po
po/nsis-msgfmt
patches/gnupg2/01-version.patch
src/gpg4win.mk
src/mingwm10.dll
/packages/*.tar.gz
/packages/*.tar.bz2
/packages/*.zip
/packages/*.tar.bz2
/packages/*.tar.xz
/gpg4win-2.*.*-git???????/
/packages/packages.current.sig
/src/playground
/src/stamps
/src/appimage/appimage.mk

/doc/manual/gpg4win-compendium-de.aux
/doc/manual/gpg4win-compendium-de.idx
/doc/manual/gpg4win-compendium-de.ilg
/doc/manual/gpg4win-compendium-de.ind
/doc/manual/gpg4win-compendium-de.log
/doc/manual/gpg4win-compendium-de.out
/doc/manual/gpg4win-compendium-de.pdf
/doc/manual/gpg4win-compendium-de.toc
/doc/manual/gpg4win-compendium-en.aux
/doc/manual/gpg4win-compendium-en.idx
/doc/manual/gpg4win-compendium-en.ilg
/doc/manual/gpg4win-compendium-en.ind
/doc/manual/gpg4win-compendium-en.log
/doc/manual/gpg4win-compendium-en.out
/doc/manual/gpg4win-compendium-en.pdf
/doc/manual/gpg4win-compendium-en.toc
/src/NEWS.tmp
/src/README.ar.txt
/src/README.de.txt
/src/README.en.txt
/src/README.es.txt
/src/README.fr.txt
/src/README.pt.txt
/src/README.ru.txt
/src/g4wihelp.dll
/src/gpgwrap-2.exe
/src/gpgwrap.exe
/src/installer-options.ini
/src/md5sum.exe
/src/sha1sum.exe
/src/sha256sum.exe
/src/versioninfo.txt
/src/kleowrap.exe
/src/gpg4win-*.exe
/src/HOWTO-SMIME.de.txt
/src/HOWTO-SMIME.en.txt
/src/COMPONENTS-list.tmp

/web/

/src/libgcc_s_sjlj-1.dll-x
/src/libstdc++-6.dll-x
/po/build-cc
/src/license.blurb
/src/mkportable.exe
