aclocal.m4
autom4te.cache/
build-aux/git-hooks/pre-commit
config.h
config.h.in
config.log
config.status
config.status.lineno
configure.lineno
configure
stamp-h1
/*.tar.bz2
doc/manual/version.tex
include/config.nsi
po/POTFILES
po/*.nsi
po/gpg4win.pot
po/remove-potcdate.sed
po/stamp-po
po/nsis-msgfmt
patches/gnupg2/01-version.patch
src/gpg4win.mk
src/mingwm10.dll
/packages/*.tar.gz
/packages/*.tar.bz2
/packages/*.zip
/packages/*.tar.bz2
/packages/*.tar.xz
/gpg4win-2.*.*-git???????/
/packages/packages.current.sig
/src/playground
/src/stamps

/doc/manual/gpg4win-compendium-de.aux
/doc/manual/gpg4win-compendium-de.idx
/doc/manual/gpg4win-compendium-de.ilg
/doc/manual/gpg4win-compendium-de.ind
/doc/manual/gpg4win-compendium-de.log
/doc/manual/gpg4win-compendium-de.out
/doc/manual/gpg4win-compendium-de.pdf
/doc/manual/gpg4win-compendium-de.toc
/doc/manual/gpg4win-compendium-en.aux
/doc/manual/gpg4win-compendium-en.idx
/doc/manual/gpg4win-compendium-en.ilg
/doc/manual/gpg4win-compendium-en.ind
/doc/manual/gpg4win-compendium-en.log
/doc/manual/gpg4win-compendium-en.out
/doc/manual/gpg4win-compendium-en.pdf
/doc/manual/gpg4win-compendium-en.toc
/src/NEWS.tmp
/src/README.ar.txt
/src/README.de.txt
/src/README.en.txt
/src/README.es.txt
/src/README.fr.txt
/src/README.pt.txt
/src/README.ru.txt
/src/g4wihelp.dll
/src/gpgwrap-2.exe
/src/gpgwrap.exe
/src/installer-options.ini
/src/md5sum.exe
/src/sha1sum.exe
/src/sha256sum.exe
/src/versioninfo.txt
/src/kleowrap.exe
/src/gpg4win-*.exe
/src/HOWTO-SMIME.de.txt
/src/HOWTO-SMIME.en.txt
/src/COMPONENTS-list.tmp
/web/404-de.html
/web/404.html
/web/Kurzstudie-Nachhaltige-FS-Beispiel-Gpg4win.html
/web/ShortStudy-Sustainable-FS-example-Gpg4win.html
/web/about-de.html
/web/about.html
/web/build-installer-de.html
/web/build-installer-gnulinux-de.html
/web/build-installer-gnulinux.html
/web/build-installer-on-vm-de.html
/web/build-installer-on-vm.html
/web/build-installer-on-w32-debian-screenshots-de.html
/web/build-installer-on-w32-debian-screenshots.html
/web/build-installer.html
/web/change-history-de.html
/web/change-history-de.htm4
/web/change-history.html
/web/change-history.htm4
/web/community-de.html
/web/community.html
/web/contribute-de.html
/web/contribute.html
/web/contributors-de.html
/web/contributors.html
/web/documentation-de.html
/web/documentation.html
/web/donate-de.html
/web/donate.html
/web/donation-form-de.html
/web/donation-form.html
/web/download-de.html
/web/download.html
/web/features-de.html
/web/features.html
/web/get-gpg4win-de.html
/web/get-gpg4win.html
/web/impressum-de.html
/web/impressum.html
/web/index-de.html
/web/index.html
/web/license-de.html
/web/license.html
/web/links-de.html
/web/links.html
/web/localize-gpg4win.html
/web/news-20090812-de.html
/web/news-20090812.html
/web/news-20151125.html
/web/newsarchive-de.html
/web/newsarchive.html
/web/package-integrity-de.html
/web/package-integrity.html
/web/pm-20151125-de.html
/web/privacy-policy-de.html
/web/privacy-policy.html
/web/reporting-bugs-de.html
/web/reporting-bugs.html
/web/screenshots-de.html
/web/screenshots.html
/web/support-de.html
/web/support.html
/web/thanks-for-donation-de.html
/web/thanks-for-donation.html
/web/thanks-for-download-de.html
/web/thanks-for-download.html
/web/website-maintenance-de.html
/web/website-maintenance.html
/web/www.gpg4win.org.tar.gz
