/* Styles for the Gpg4win Website */

body {
 font-family: arial, helvetica, sans-serif;
 font-size: 13px;
 background: #FFFFFF url('img/page_bg.png') repeat-x;
 color: #333333;
 margin: 0px;
 padding:0px;
}

a {
 color: #b51a22;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

img {
 border: 0px;
}

.imageframe {
 border-color: #DEDEDE #AAAAAA #888888 #CECECE;
 border-style: double;
 border-width: 1px;
 padding: 5px;
}

.imgfloatleft {
 float: left;
 margin: 0px 20px 30px 0px;
}

td {
 vertical-align: top;
}

.odd td {
 background: #E6E6E6;
}

.wrapper {
 width: 900px;
 margin: 0 auto;
 text-align: left;
}

.language_select {
 float:right;
 height: 100%;
}

.logo {
 margin-top: 20px;
 margin-left: 15px;
}

.header {
 padding: 6px 0 6px 0;
 margin-bottom: 0px;
 height: 1em;
}

.fancy_intro {
 background: url('img/fancy_bg.png') no-repeat;
 background-position: 278px 0px;
 height:250px;
 margin: 0 20px 25px 20px;
 border-bottom:1px solid gray;
 overflow: hidden;
 width:860px;
 padding-bottom: 15px;
}

.mini_intro {
 clear: both;
 font-size: 12px;
 line-height: 38px;
 margin-top: 8px;
}

#download_button {
 position: relative;
 top: 45px;
 width: 250px;
 z-index: 0;
}

#download_button a {
 background: url('img/download_button.png');
 background-repeat: no-repeat;
 display: block;
 height: 116px;
 width: 260px;
 color: #FFFFFF;
 font-weight: bold;
 text-decoration: none;
 font-size: 19px;
}

#download_button a:hover {
 background-position: 0px -116px;
}

#download_button .text {
 position: relative;
 top: 23px;
 left: 25px;
}

#breadcrum {
 float:left;
}

#download_button_mini {
 float:right;
 text-align:right;
 width: 189px;
 line-height: 100%;
}

#download_button_mini .links {
 position: relative;
 top: -13px;
 font-size: 10px;
 text-align: right;
}

#download_button_mini .dmini_button {
 background: url('img/download_button_mini.png');
 background-repeat: no-repeat;
 display: block;
 height: 50px;
 width: 189px;
 text-align:left;
 font-size: 11px;
 line-height:50px;
 color: #FFFFFF;
 font-weight:bold;
 text-decoration:none;
}

#download_button_mini .dmini_button:hover {
 background-position: 0px -50px;
}

#download_button_mini .text {
 position: relative;
 left: 12px;
}

.download_button_links {
 font-size:11px;
 position: relative;
 left: 25px;
 top: 43px;
 width: 250px;
}

#donate_button {
 position: relative;
 left: 695px;
 top: 85px;
 width: 200px;
}

#donate_button a {
 background: url('img/donate_button.png');
 background-repeat: no-repeat;
 display: block;
 height: 79px;
 width: 200px;
 color: #FFFFFF;
 font-weight: bold;
 text-decoration: none;
 font-size: 14px;
}

#donate_button a:hover {
 background-position: 0px -79px;
}

#donate_button .text {
 position:relative;
 top:20px;
 left:10px;
}

.h_text {
 position: relative;
 top: -125px;
 left: 669px;
 width: 180px;
 font-size: 11px;
 border-left: 1px solid #CCCCCC;
 padding-left: 10px;
 margin-top: 12px;
 height: 220px;
}

.h_text .heading {
 font-size: 23px;
 font-family: georgia, times, serif;
 padding-bottom: 9px;
}

.h_text .serif_word {
 font-size: 13px;
 font-weight: bold;
}



.h_text .limiter {
 border-bottom: 3px dotted #CCCCCC;
 width: 190px;
 height: 10px;
 margin-bottom: 3px;
}
.center {
 text-align: center;
}

.content {
 width: 100%;
}

#intro {
 padding: 0px 250px 20px 20px;
}

/*#intro span {
 background: url('img/logo.png') no-repeat scroll 50px 0px transparent;
 height: 56px;
 margin: 0px;
 width: 250px;
 float: right;
 margin: 0px;
 line-height: 24px;
 margin: 10px 200px 0 0;
}*/

#intro h2 {
 font-family: georgia, times, serif;
 font-size: 30px;
 font-weight: normal;
 color: #333333;
 margin: 0px;
}

#intro p {
 color: #555555;
 font-size: 14px;
 font-weight: normal;
 line-height: 26px;
 margin: 10px 0 0;
 padding: 0;
}

.column1, .column2, .column3 {
 display: inline;
 float: left;
 margin-right: 25px;
 position: relative;
 width: 270px;
}

.column3 {
 margin-right: 0px;
}

.column1 img, .column2 img, .column3 img {
 width: 270px;
}


#main {
 float: left;
 padding: 0px 0px 0px 20px;
 width: 600px;
}

#full {
 float: left;
 padding: 0px 20px 0px 20px;
 width: 860px;
}

#main h2, #full h2 {
 font-size: 22px;
 font-weight: normal;
 color: #333333;
 margin: 30px 0px 10px 0px;
 padding: 0px;
 clear: both;
}

#main h4, #full h4 {
 font-size: 18px;
 color: #333333;
 font-family: georgia, serif;
 font-style: italic;
 font-weight: normal;
}

#main p, #full p, #main li, #full li{
 color: #444444;
 line-height: 20px;
 margin: 0px 0px 10px;
}

.cleanlist li {
 font-size: 13px;
 list-style: none;
 padding: 0px;
 clear: both;
}

.screenshots img {
 width: 250px;
}

#sidebar {
 -moz-border-radius: 10px 10px 10px 10px;
 background: #FDF1CD;
 border: 1px solid #CCCCCC;
 float: right;
 margin-top: 34px;
 padding: 20px 20px 15px;
 width: 220px;
}

#sidebar h3 {
 color: #333333;
 margin: 1px 0px 10px 0px;
}

#sidebarsimple {
 float: right;
 margin-top: 34px;
}

.newslist {
 margin: 0px;
 padding: 0px;
}

.newslist li {
 font-size: 13px;
 list-style: none;
 padding: 0;
}

.newslist li a {
 /*color: #555555;*/
 display: block;
 font-size: 12px;
 font-weight: bold;
 list-style: none;
 margin: 0px;
 padding: 10px 0px 10px 0px;
 text-decoration: none;
 border-bottom: 1px solid #EFEFEF;
}

.newslist li p {
 color: #777777;
 font-size: 10px;
 font-weight: normal;
 margin: 4px 0px 0px;
 padding: 0px;
}

#menu {
 height:45px;
 z-index: 1;
}

#menu .active a {
 background-position: 0px -180px;
}

#menu ul {
 list-style: none;
 padding: 0px;
 margin: 0px;
}

#menu li {
 float: left;
 margin-right: 0px;
 margin-left:0px;
 padding: 0px;
 text-align: center;
}

#menu .mlogo {
 border:0px;
}

#menu .mlogo a {
 display:block;
 width: 198px;
 height: 52px;
 position: relative;
 top: -4px;
 background: url('img/inmenulogo.png');
}

#menu .mlogo a:hover {
 background: url('img/inmenulogo.png');
 background-position: 0px -52px;
}

#menu .last {
 width:40px;
 height: 45px;
 background: url('img/last.png');
}

#menu .mdonate a {
 display: block;
 width: 110px;
 height: 45px;
 float:right;
 background: url('img/inmenudonate.png');
 color: #FFFFFF;
 text-indent: -23px;
}

#menu .mdonate a:hover {
 background: url('img/inmenudonate.png');
 background-position: 0px -45px;
}

#menu li a {
 background: #CCCCCC url('img/menubar.png') 0px -90px;
 color: #2A2A2A;
 line-height: 45px;
 width: 148px;
 display: block;
 text-decoration: none;
 font-weight: bold;
 font-size: 11px;
 height: 45px;
 overflow: hidden;
}

#menu li a:hover {
 background: #FFFFFF url('img/menubar.png') 0px -135px;
 color:#FFFFFF;
}

#menu ul li ul {
 width: 201px;
 list-style: none;
 position: absolute;
 display: none;
}

#menu ul li ul li,
#menu .active ul li ul li {
 width: 148px;
}

#menu ul li .subcap {
 background: url('img/sub_tail.png');
 display: block;
 width: 149px;
 height: 5px;
}

#menu ul li ul li a,
#menu .active ul li ul li a {
 background: url('img/sub_bg.png');
 line-height: 25px;
 width: 142px;
 height: 22px;
 font-weight: normal;
 color: #2A2A2A;
 text-align: left;
 display: block;
 padding-left: 5px;
 border-left: 1px solid #8B7E57;
 border-right: 1px solid #8B7E57;
}

#menu ul li ul li a:hover,
#menu .active ul li a:hover {
 background: #FBCA4C;
 color: #2A2A2A;
 text-decoration: none;
 font-weight: bold;
}

#menu li:hover ul ul,
#menu li:hover ul ul ul {
 display: none;
}

#menu li:hover ul,
#menu li li:hover ul,
#menu li li li:hover ul {
 display: block;
 z-index:3;
}

.donate_header {
 display: block;
 position: relative;
 top: -80px;
 height: 180px;
 background: url('img/heart.png') no-repeat;
 background-position: 550px 10px;
 font-size: 26px;
 border-bottom: 1px solid #CCCCCC;
 margin-bottom: -70px;
 z-index: -100;
}

.donate_header .text {
 position:relative;
 left: 180px;
 top: 40px;
 text-align:center;
}

.donate_header b {
 color: #D50D35;
}

.download_header {
 height:160px;
 background: url('img/download_bg.png') no-repeat;
 background-position: 690px 10px;
 font-size:26px;
 border-bottom: 1px solid #CCCCCC;
 margin-bottom:8px;
}

.download_header .text {
 position:relative;
 left: 120px;
 top: 40px;
 text-align:center;
}

.download_header b {
 color: #D50D35;
}

.dlbutton2 a {
 background-color: #6AC221;
 -moz-border-radius: 10px 10px 10px 10px;
 display: block;
 font-size: 150%;
 font-weight: bold;
 margin: 10px 20px 20px;
 padding: 10px;
 text-align: center;
 color: #FFFFFF;
}

.dlbutton2 a:hover {
 background: #81C72B;
 text-decoration: none;
}

.dlbutton2 img {
 float:right;
 position: relative;
 right: 45px;
 top: 8px;
}

.version {
 color: #FFFFFF;
 font-size: 75%;
 font-weight: normal;
}

#footer {
 background: #EBEBEB url('img/page_bg.png') repeat-x;
 font-size: 11px;
 padding-bottom: 20px;
 color: #333333;
 text-align: center;
 margin-top: 30px;
 height: 22em;
 width: 100%;
}

#sitemap {
 margin: auto;
 width: 900px;
 text-align: left;
}

#sitemap ul {
 list-style:none;
 float: left;
 width: 130px;
 margin-left: 20px;
 padding: 0px;
}

#sitemap li {
 font-size: 12px;
 line-height: 19px;
 padding: 0px;
}

#sitemap li {
 font-size: 12px;
 line-height: 19px;
 padding: 0px;
}

#sitemap ul li a {
 color: #555555;
 text-decoration: none;
}

#sitemap ul li a:hover {
 text-decoration: underline;
}
